<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More Info</title>
</head>
<body>
<h1> Hero details!</h1>
<ul>

    <li><h2> Name: {{details.name}}  </h2>
        <h3>Alter_ego: {{details.alter_ego}} </h3>
        <h4>Primary Ability: {{details.primary_ability}}</h4>
        <h5>Secondary Ability: {{details.secondary_ability}}</h5>
        <h6>Catch Phrase: {{details.catch_phrase}}</h6>
         <a href = "{% url 'heroes:edit' details.id %}">edit<br></a>
    </li>


</ul>
</body>
</html>