<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
        <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>More Info</title>
</head>
<body style="color: white">
<h> Hero edit!</h>
<ul>

    <li><h> Name: {{details.name}} <br> </h>
        <h>Alter_ego: {{details.alter_ego}} <br> </h>
        <h>Primary Ability: {{details.primary_ability}} <br> </h>
        <h>Secondary Ability: {{details.secondary_ability}} <br> </h>
        <h>Catch Phrase: {{details.catch_phrase}}<br> </h>
    </li>
</ul>
<form action="{% url 'heroes:edit' details.id %}" method="post">
    {% csrf_token %}
    Name:<input type="text" name="name" id="name"><br>
    Alter Ego:<input type="text" name="alter_ego" id="alter_ego"><br>
    Primary Ability:<input type="text" name="primary_ability" id="primary_ability"><br>
    Secondary Ability:<input type="text" name="secondary_ability" id="secondary_ability"><br>
    Catch Phrase:<input type ="text" name="catch_phrase" id="catch_phrase"><br>
    <input type="submit" value="Submit Edited Version!">

</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>