body > h {
color: red;
}

  .container {
      height: 100%;
      width: auto;
      background: black;
      color: white;
  }

  .list {
      height: 100%;
      width: auto;
      background: black;
      color: white;
      border-bottom-width: inherit;
  }

body > li {
background: black;
color: white;
font-size: 8vw;
}

body {
background: black;

}

body > form {

      height: 100%;
      width: auto;
      background: black;
      color: white;

}
body {
color:white
background: black
}

body > li > h {
color:white
}
ul {
color:white
}